{# Purpose of this template: Display item information for previewing from other modules #}
<dl id="album{{ album.getKey() }}">
<dt>{{ album|rkfineartphotographermodule_formattedTitle|notifyFilters('fineartphotographer.filter_hooks.albums.filter')|safeHtml }}</dt>
<dd>{% if album.titleImage is not empty and album.titleImageMeta|default %}
            <a href="{{ album.titleImageUrl }}" title="{{ album|rkfineartphotographermodule_formattedTitle|e('html_attr') }}"{% if album.titleImageMeta.isImage %} class="image-link"{% endif %}>
{% if album.titleImageMeta.isImage %}
    {% set thumbOptions = attribute(thumbRuntimeOptions, 'albumTitleImage') %}
    <img src="{{ album.titleImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ album|rkfineartphotographermodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
{% else %}
    {{ __('Download') }} ({{ album.titleImageMeta.size|rkfineartphotographermodule_fileSize(album.titleImage.getPathname(), false, false) }})
{% endif %}
</a>
{% else %}&nbsp;{% endif %}
</dd>
{% if album.albumDescription is not empty %}<dd>{{ album.albumDescription }}</dd>{% endif %}
{% if featureActivationHelper.isEnabled(constant('RK\\FineArtPhotographerModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'album') %}
    <dd>
        <dl class="category-list">
        {% for propName, catMapping in album.categories %}
            <dt>{{ propName }}</dt>
            <dd>{{ catMapping.category.display_name[app.request.locale]|default(catMapping.category.name) }}</dd>
        {% endfor %}
        </dl>
    </dd>
{% endif %}
</dl>
